@charset "utf-8";
/* __reset.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 폰트의 안티앨리어싱을 적용해 텍스트를 부드럽게 만듭니다. */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    /* rem 단위를 쉽게 계산하기 위해 기본 폰트 크기를 10px로 설정 (1rem = 10px) */
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--basic-font-famaily);
    font-size: 1.6rem; /* 16px */
    font-weight: 400;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
}

input, textarea {
    font-family: inherit;
    background: none;
    border: none;
}

input:focus, textarea:focus {
    outline: none;
}